In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('RealEstateData.csv')
df

,Unnamed: 0,baths,baths_1qtr,baths_3qtr,baths_full,baths_half,beds,city,garage,list_price,lot_sqft,name,sold_date,sold_price,sqft,stories,sub_type,type,year_built
0,0,1.0,0,0.0,1.0,0.0,3.0,Los Angeles,2.0,745000.0,7018.0,0,2021-09-01,760000.0,1031.0,1.0,0,single_family,1949.0
1,1,2.0,0,0.0,2.0,0.0,2.0,Los Angeles,0.0,699000.0,12776.0,0,2021-09-01,695000.0,1396.0,4.0,condo,condos,1982.0
2,2,3.0,0,2.0,1.0,0.0,3.0,Los Angeles,0.0,1200000.0,6351.0,0,2021-09-01,1385000.0,1881.0,1.0,0,single_family,1953.0
3,3,2.0,0,0.0,2.0,0.0,3.0,Los Angeles,0.0,675000.0,2153275.0,0,2021-09-01,675000.0,1688.0,1.0,0,mobile,2015.0
4,4,3.0,0,0.0,3.0,0.0,5.0,Los Angeles,2.0,795000.0,7742.0,0,2021-09-01,870000.0,2098.0,1.0,0,single_family,1970.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,3.0,0,0.0,2.0,1.0,3.0,Anaheim,2.0,645000.0,0.0,0,2021-08-10,645000.0,1250.0,2.0,condo,condos,1999.0
1996,1996,3.0,0,0.0,2.0,1.0,5.0,Anaheim,2.0,1000000.0,7200.0,0,2021-08-10,1200000.0,2771.0,2.0,0,single_family,1975.0
1997,1997,4.0,0,0.0,4.0,0.0,3.0,Anaheim,2.0,849999.0,5244.0,0,2021-08-09,835000.0,2139.0,2.0,0,single_family,1977.0
1998,1998,3.0,0,0.0,2.0,1.0,3.0,Anaheim,2.0,590000.0,0.0,0,2021-08-09,660000.0,1555.0,2.0,townhouse,townhomes,1996.0
1999,1999,2.0,0,0.0,2.0,0.0,2.0,Anaheim,2.0,535000.0,0.0,0,2021-08-09,565000.0,980.0,1.0,condo,condos,1981.0

In [3]:
#Drop the first column since it is the index used in csv file
columns = list(df)
df.drop(columns[0],axis = 1, inplace=True)
df

,baths,baths_1qtr,baths_3qtr,baths_full,baths_half,beds,city,garage,list_price,lot_sqft,name,sold_date,sold_price,sqft,stories,sub_type,type,year_built
0,1.0,0,0.0,1.0,0.0,3.0,Los Angeles,2.0,745000.0,7018.0,0,2021-09-01,760000.0,1031.0,1.0,0,single_family,1949.0
1,2.0,0,0.0,2.0,0.0,2.0,Los Angeles,0.0,699000.0,12776.0,0,2021-09-01,695000.0,1396.0,4.0,condo,condos,1982.0
2,3.0,0,2.0,1.0,0.0,3.0,Los Angeles,0.0,1200000.0,6351.0,0,2021-09-01,1385000.0,1881.0,1.0,0,single_family,1953.0
3,2.0,0,0.0,2.0,0.0,3.0,Los Angeles,0.0,675000.0,2153275.0,0,2021-09-01,675000.0,1688.0,1.0,0,mobile,2015.0
4,3.0,0,0.0,3.0,0.0,5.0,Los Angeles,2.0,795000.0,7742.0,0,2021-09-01,870000.0,2098.0,1.0,0,single_family,1970.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,3.0,0,0.0,2.0,1.0,3.0,Anaheim,2.0,645000.0,0.0,0,2021-08-10,645000.0,1250.0,2.0,condo,condos,1999.0
1996,3.0,0,0.0,2.0,1.0,5.0,Anaheim,2.0,1000000.0,7200.0,0,2021-08-10,1200000.0,2771.0,2.0,0,single_family,1975.0
1997,4.0,0,0.0,4.0,0.0,3.0,Anaheim,2.0,849999.0,5244.0,0,2021-08-09,835000.0,2139.0,2.0,0,single_family,1977.0
1998,3.0,0,0.0,2.0,1.0,3.0,Anaheim,2.0,590000.0,0.0,0,2021-08-09,660000.0,1555.0,2.0,townhouse,townhomes,1996.0
1999,2.0,0,0.0,2.0,0.0,2.0,Anaheim,2.0,535000.0,0.0,0,2021-08-09,565000.0,980.0,1.0,condo,condos,1981.0

The first column was an extra index that was created due to how the data was retrieved, it is deleted as it didn't serve a purpose.

In [4]:
#since 1qtr bath is 0 for all rows delete that column as it provides no information
df.drop(columns=['baths_1qtr'],inplace=True)

No home in the dataset had a one-quarter bath so the column was also deleted.

In [5]:
#No home has a name so we will delete that column as well
df.drop(columns=['name'], inplace=True)

Since there is only 0 in the name column we will delete that column as well.

Interestingly From this exploration I noticed that for the type column there was "land" which makes almost every other column 0 (except sold price) meaning that it may be better to delete these rows since my primary objective was to look primarily at house prices.

In [6]:
#deleting rows that have "land" as their type
df.drop(df[df['type'] == 'land'].index, inplace=True)
df

,baths,baths_3qtr,baths_full,baths_half,beds,city,garage,list_price,lot_sqft,sold_date,sold_price,sqft,stories,sub_type,type,year_built
0,1.0,0.0,1.0,0.0,3.0,Los Angeles,2.0,745000.0,7018.0,2021-09-01,760000.0,1031.0,1.0,0,single_family,1949.0
1,2.0,0.0,2.0,0.0,2.0,Los Angeles,0.0,699000.0,12776.0,2021-09-01,695000.0,1396.0,4.0,condo,condos,1982.0
2,3.0,2.0,1.0,0.0,3.0,Los Angeles,0.0,1200000.0,6351.0,2021-09-01,1385000.0,1881.0,1.0,0,single_family,1953.0
3,2.0,0.0,2.0,0.0,3.0,Los Angeles,0.0,675000.0,2153275.0,2021-09-01,675000.0,1688.0,1.0,0,mobile,2015.0
4,3.0,0.0,3.0,0.0,5.0,Los Angeles,2.0,795000.0,7742.0,2021-09-01,870000.0,2098.0,1.0,0,single_family,1970.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,3.0,0.0,2.0,1.0,3.0,Anaheim,2.0,645000.0,0.0,2021-08-10,645000.0,1250.0,2.0,condo,condos,1999.0
1996,3.0,0.0,2.0,1.0,5.0,Anaheim,2.0,1000000.0,7200.0,2021-08-10,1200000.0,2771.0,2.0,0,single_family,1975.0
1997,4.0,0.0,4.0,0.0,3.0,Anaheim,2.0,849999.0,5244.0,2021-08-09,835000.0,2139.0,2.0,0,single_family,1977.0
1998,3.0,0.0,2.0,1.0,3.0,Anaheim,2.0,590000.0,0.0,2021-08-09,660000.0,1555.0,2.0,townhouse,townhomes,1996.0
1999,2.0,0.0,2.0,0.0,2.0,Anaheim,2.0,535000.0,0.0,2021-08-09,565000.0,980.0,1.0,condo,condos,1981.0

In [7]:
print(df.loc[(df['sub_type'] == 'condo') & (df['type'] == 'condos')].shape)
print(df.loc[df['sub_type'] == 'condo'].shape)
df.loc[(df['sub_type'] == 'townhouse') & (df['type'] != 'townhomes')]

(379, 16)
(379, 16)

,baths,baths_3qtr,baths_full,baths_half,beds,city,garage,list_price,lot_sqft,sold_date,sold_price,sqft,stories,sub_type,type,year_built
70,6.0,0.0,6.0,0.0,7.0,Los Angeles,0.0,1174777.0,6753.0,2021-09-01,1235000.0,2748.0,2.0,townhouse,duplex_triplex,1951.0
178,3.0,0.0,3.0,0.0,4.0,Los Angeles,0.0,580000.0,6763.0,2021-08-31,580000.0,1316.0,1.0,townhouse,duplex_triplex,1928.0
1204,2.0,0.0,2.0,0.0,3.0,Long Beach,1.0,625000.0,7442.0,2021-09-01,565000.0,1478.0,1.0,townhouse,duplex_triplex,1905.0
1230,4.0,2.0,2.0,0.0,4.0,Long Beach,2.0,2999000.0,3261.0,2021-08-31,3049000.0,3026.0,3.0,townhouse,duplex_triplex,1923.0
1253,2.0,0.0,2.0,0.0,4.0,Long Beach,2.0,695000.0,5400.0,2021-08-30,710000.0,1768.0,1.0,townhouse,duplex_triplex,1920.0
1346,2.0,0.0,2.0,0.0,3.0,Long Beach,2.0,999000.0,6502.0,2021-08-21,999000.0,1478.0,2.0,townhouse,duplex_triplex,1940.0

In [8]:
df.drop(columns=['sub_type'],inplace=True)
df

,baths,baths_3qtr,baths_full,baths_half,beds,city,garage,list_price,lot_sqft,sold_date,sold_price,sqft,stories,type,year_built
0,1.0,0.0,1.0,0.0,3.0,Los Angeles,2.0,745000.0,7018.0,2021-09-01,760000.0,1031.0,1.0,single_family,1949.0
1,2.0,0.0,2.0,0.0,2.0,Los Angeles,0.0,699000.0,12776.0,2021-09-01,695000.0,1396.0,4.0,condos,1982.0
2,3.0,2.0,1.0,0.0,3.0,Los Angeles,0.0,1200000.0,6351.0,2021-09-01,1385000.0,1881.0,1.0,single_family,1953.0
3,2.0,0.0,2.0,0.0,3.0,Los Angeles,0.0,675000.0,2153275.0,2021-09-01,675000.0,1688.0,1.0,mobile,2015.0
4,3.0,0.0,3.0,0.0,5.0,Los Angeles,2.0,795000.0,7742.0,2021-09-01,870000.0,2098.0,1.0,single_family,1970.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,3.0,0.0,2.0,1.0,3.0,Anaheim,2.0,645000.0,0.0,2021-08-10,645000.0,1250.0,2.0,condos,1999.0
1996,3.0,0.0,2.0,1.0,5.0,Anaheim,2.0,1000000.0,7200.0,2021-08-10,1200000.0,2771.0,2.0,single_family,1975.0
1997,4.0,0.0,4.0,0.0,3.0,Anaheim,2.0,849999.0,5244.0,2021-08-09,835000.0,2139.0,2.0,single_family,1977.0
1998,3.0,0.0,2.0,1.0,3.0,Anaheim,2.0,590000.0,0.0,2021-08-09,660000.0,1555.0,2.0,townhomes,1996.0
1999,2.0,0.0,2.0,0.0,2.0,Anaheim,2.0,535000.0,0.0,2021-08-09,565000.0,980.0,1.0,condos,1981.0

Deleting the subtype column as it does not provide extra information since the type column can be used to explain it.

In [9]:
#checking beds first
df.beds.value_counts()
zero_beds = df[df['beds'] == 0]
zero_beds.list_price.describe().round(3)
zero_beds[zero_beds["list_price"] == 4450000]
#df_filtered = df[(df['beds']!=0)]
#df_filtered.count()

,baths,baths_3qtr,baths_full,baths_half,beds,city,garage,list_price,lot_sqft,sold_date,sold_price,sqft,stories,type,year_built
46,0.0,0.0,0.0,0.0,0.0,Los Angeles,18.0,4450000.0,13116.0,2021-09-01,3552500.0,14813.0,3.0,multi_family,1970.0

This house that sold for about 3.5 million is interesting since it has 0 baths, 0 beds, and 18 garages. Perhaps is was a whole apartment building or 3 studios. Have to look at other high priced data to see if there is a pattern.

In [10]:
high_priced = df[df['sold_price'] > 1500000]
no_bath = df.loc[(df['baths'] == 0)]
no_bath

,baths,baths_3qtr,baths_full,baths_half,beds,city,garage,list_price,lot_sqft,sold_date,sold_price,sqft,stories,type,year_built
46,0.0,0.0,0.0,0.0,0.0,Los Angeles,18.0,4450000.0,13116.0,2021-09-01,3552500.0,14813.0,3.0,multi_family,1970.0
65,0.0,0.0,0.0,0.0,0.0,Los Angeles,6.0,1600000.0,7645.0,2021-09-01,1430000.0,6062.0,2.0,multi_family,1979.0
89,0.0,0.0,0.0,0.0,0.0,Los Angeles,2.0,478900.0,5234.0,2021-08-31,390000.0,0.0,2.0,multi_family,1930.0
116,0.0,0.0,0.0,0.0,0.0,Los Angeles,2.0,949990.0,6817.0,2021-08-31,1000000.0,1700.0,1.0,multi_family,1943.0
146,0.0,0.0,0.0,0.0,0.0,Los Angeles,2.0,1099000.0,6483.0,2021-08-31,1350000.0,2507.0,0.0,multi_family,1921.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1919,0.0,0.0,0.0,0.0,0.0,Anaheim,0.0,0.0,8276.0,2021-08-17,1510000.0,4992.0,2.0,multi_family,1972.0
1923,0.0,0.0,0.0,0.0,2.0,Anaheim,0.0,0.0,11761.0,2021-08-17,3010000.0,673.0,1.0,multi_family,1922.0
1942,0.0,0.0,0.0,0.0,0.0,Anaheim,0.0,0.0,225475.0,2021-08-16,793000.0,0.0,0.0,single_family,0.0
1948,0.0,0.0,0.0,0.0,0.0,Anaheim,7.0,1700000.0,8276.0,2021-08-13,1760000.0,5042.0,1.0,multi_family,1961.0
1973,0.0,0.0,0.0,0.0,0.0,Anaheim,2.0,750000.0,7405.0,2021-08-11,735000.0,1650.0,1.0,multi_family,1963.0

In [11]:
df.drop(df[df['baths'] == 0].index, inplace=True)
df

,baths,baths_3qtr,baths_full,baths_half,beds,city,garage,list_price,lot_sqft,sold_date,sold_price,sqft,stories,type,year_built
0,1.0,0.0,1.0,0.0,3.0,Los Angeles,2.0,745000.0,7018.0,2021-09-01,760000.0,1031.0,1.0,single_family,1949.0
1,2.0,0.0,2.0,0.0,2.0,Los Angeles,0.0,699000.0,12776.0,2021-09-01,695000.0,1396.0,4.0,condos,1982.0
2,3.0,2.0,1.0,0.0,3.0,Los Angeles,0.0,1200000.0,6351.0,2021-09-01,1385000.0,1881.0,1.0,single_family,1953.0
3,2.0,0.0,2.0,0.0,3.0,Los Angeles,0.0,675000.0,2153275.0,2021-09-01,675000.0,1688.0,1.0,mobile,2015.0
4,3.0,0.0,3.0,0.0,5.0,Los Angeles,2.0,795000.0,7742.0,2021-09-01,870000.0,2098.0,1.0,single_family,1970.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,3.0,0.0,2.0,1.0,3.0,Anaheim,2.0,645000.0,0.0,2021-08-10,645000.0,1250.0,2.0,condos,1999.0
1996,3.0,0.0,2.0,1.0,5.0,Anaheim,2.0,1000000.0,7200.0,2021-08-10,1200000.0,2771.0,2.0,single_family,1975.0
1997,4.0,0.0,4.0,0.0,3.0,Anaheim,2.0,849999.0,5244.0,2021-08-09,835000.0,2139.0,2.0,single_family,1977.0
1998,3.0,0.0,2.0,1.0,3.0,Anaheim,2.0,590000.0,0.0,2021-08-09,660000.0,1555.0,2.0,townhomes,1996.0
1999,2.0,0.0,2.0,0.0,2.0,Anaheim,2.0,535000.0,0.0,2021-08-09,565000.0,980.0,1.0,condos,1981.0

I will drop rows where baths = 0 since I am not quite sure how a home without bathrooms could function.

In [12]:
df.loc[df['year_built'] == 0]

,baths,baths_3qtr,baths_full,baths_half,beds,city,garage,list_price,lot_sqft,sold_date,sold_price,sqft,stories,type,year_built
114,4.0,0.0,4.0,0.0,4.0,Los Angeles,4.0,4699000.0,8668.0,2021-08-31,4800000.0,4220.0,2.0,single_family,0.0
601,2.0,0.0,2.0,0.0,3.0,San Francisco,0.0,1749000.0,3563.0,2021-09-01,1900000.0,2386.0,0.0,single_family,0.0
609,5.0,0.0,5.0,0.0,7.0,San Francisco,0.0,1495000.0,2500.0,2021-09-01,1908000.0,3154.0,0.0,single_family,0.0
610,2.0,0.0,1.0,1.0,2.0,San Francisco,0.0,1595000.0,0.0,2021-09-01,1700000.0,0.0,0.0,single_family,0.0
614,5.0,0.0,4.0,1.0,5.0,San Francisco,0.0,4495000.0,3123.0,2021-08-31,4400000.0,0.0,0.0,single_family,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1179,2.0,0.0,2.0,0.0,4.0,Sacremento,2.0,550000.0,6530.0,2021-08-26,540000.0,1898.0,1.0,multi_family,0.0
1406,3.0,0.0,3.0,0.0,3.0,Oakland,0.0,1100000.0,5060.0,2021-09-01,1333076.0,2220.0,0.0,single_family,0.0
1534,1.0,0.0,1.0,0.0,2.0,Oakland,0.0,925000.0,3690.0,2021-08-24,1180000.0,1049.0,0.0,single_family,0.0
1914,2.0,0.0,2.0,0.0,2.0,Anaheim,0.0,0.0,0.0,2021-08-17,518000.0,916.0,0.0,condo,0.0
1918,3.0,0.0,2.0,1.0,3.0,Anaheim,0.0,0.0,0.0,2021-08-17,675000.0,1444.0,0.0,condo,0.0

Years built may have some useful information, so I will keep that information for now, in addition lot_sqft and sqft are different values which is interesting will keep those values as well to potentially use later.

In [13]:
df.to_csv('RealEstateDataClean.csv')