In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('C:/Users/alanp/Documents//DataScienceV1/projects/RealEstate/RealEstate/Cleaning/RealEstateDataClean.csv')
columns = df.columns
df.drop(columns[0], inplace=True, axis = 1)
df

,baths,baths_3qtr,baths_full,baths_half,beds,city,garage,list_price,lot_sqft,sold_date,sold_price,sqft,stories,type,year_built
0,1.0,0.0,1.0,0.0,3.0,Los Angeles,2.0,745000.0,7018.0,2021-09-01,760000.0,1031.0,1.0,single_family,1949.0
1,2.0,0.0,2.0,0.0,2.0,Los Angeles,0.0,699000.0,12776.0,2021-09-01,695000.0,1396.0,4.0,condos,1982.0
2,3.0,2.0,1.0,0.0,3.0,Los Angeles,0.0,1200000.0,6351.0,2021-09-01,1385000.0,1881.0,1.0,single_family,1953.0
3,2.0,0.0,2.0,0.0,3.0,Los Angeles,0.0,675000.0,2153275.0,2021-09-01,675000.0,1688.0,1.0,mobile,2015.0
4,3.0,0.0,3.0,0.0,5.0,Los Angeles,2.0,795000.0,7742.0,2021-09-01,870000.0,2098.0,1.0,single_family,1970.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1898,3.0,0.0,2.0,1.0,3.0,Anaheim,2.0,645000.0,0.0,2021-08-10,645000.0,1250.0,2.0,condos,1999.0
1899,3.0,0.0,2.0,1.0,5.0,Anaheim,2.0,1000000.0,7200.0,2021-08-10,1200000.0,2771.0,2.0,single_family,1975.0
1900,4.0,0.0,4.0,0.0,3.0,Anaheim,2.0,849999.0,5244.0,2021-08-09,835000.0,2139.0,2.0,single_family,1977.0
1901,3.0,0.0,2.0,1.0,3.0,Anaheim,2.0,590000.0,0.0,2021-08-09,660000.0,1555.0,2.0,townhomes,1996.0
1902,2.0,0.0,2.0,0.0,2.0,Anaheim,2.0,535000.0,0.0,2021-08-09,565000.0,980.0,1.0,condos,1981.0

In [3]:
#Creating a new column called total_sqft
df['total_sqft'] = df['lot_sqft'] + df['sqft']
df

,baths,baths_3qtr,baths_full,baths_half,beds,city,garage,list_price,lot_sqft,sold_date,sold_price,sqft,stories,type,year_built,total_sqft
0,1.0,0.0,1.0,0.0,3.0,Los Angeles,2.0,745000.0,7018.0,2021-09-01,760000.0,1031.0,1.0,single_family,1949.0,8049.0
1,2.0,0.0,2.0,0.0,2.0,Los Angeles,0.0,699000.0,12776.0,2021-09-01,695000.0,1396.0,4.0,condos,1982.0,14172.0
2,3.0,2.0,1.0,0.0,3.0,Los Angeles,0.0,1200000.0,6351.0,2021-09-01,1385000.0,1881.0,1.0,single_family,1953.0,8232.0
3,2.0,0.0,2.0,0.0,3.0,Los Angeles,0.0,675000.0,2153275.0,2021-09-01,675000.0,1688.0,1.0,mobile,2015.0,2154963.0
4,3.0,0.0,3.0,0.0,5.0,Los Angeles,2.0,795000.0,7742.0,2021-09-01,870000.0,2098.0,1.0,single_family,1970.0,9840.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1898,3.0,0.0,2.0,1.0,3.0,Anaheim,2.0,645000.0,0.0,2021-08-10,645000.0,1250.0,2.0,condos,1999.0,1250.0
1899,3.0,0.0,2.0,1.0,5.0,Anaheim,2.0,1000000.0,7200.0,2021-08-10,1200000.0,2771.0,2.0,single_family,1975.0,9971.0
1900,4.0,0.0,4.0,0.0,3.0,Anaheim,2.0,849999.0,5244.0,2021-08-09,835000.0,2139.0,2.0,single_family,1977.0,7383.0
1901,3.0,0.0,2.0,1.0,3.0,Anaheim,2.0,590000.0,0.0,2021-08-09,660000.0,1555.0,2.0,townhomes,1996.0,1555.0
1902,2.0,0.0,2.0,0.0,2.0,Anaheim,2.0,535000.0,0.0,2021-08-09,565000.0,980.0,1.0,condos,1981.0,980.0

In [4]:
df.drop(columns=['sold_date'], inplace=True)

In [ ]:
df['log_sold_price'] = np.log(df[''])

In [5]:
from pycaret.regression import *

In [6]:
#Check version
from pycaret.utils import version
version()

'2.3.6'

In [7]:
df.head()

,baths,baths_3qtr,baths_full,baths_half,beds,city,garage,list_price,lot_sqft,sold_price,sqft,stories,type,year_built,total_sqft
0,1.0,0.0,1.0,0.0,3.0,Los Angeles,2.0,745000.0,7018.0,760000.0,1031.0,1.0,single_family,1949.0,8049.0
1,2.0,0.0,2.0,0.0,2.0,Los Angeles,0.0,699000.0,12776.0,695000.0,1396.0,4.0,condos,1982.0,14172.0
2,3.0,2.0,1.0,0.0,3.0,Los Angeles,0.0,1200000.0,6351.0,1385000.0,1881.0,1.0,single_family,1953.0,8232.0
3,2.0,0.0,2.0,0.0,3.0,Los Angeles,0.0,675000.0,2153275.0,675000.0,1688.0,1.0,mobile,2015.0,2154963.0
4,3.0,0.0,3.0,0.0,5.0,Los Angeles,2.0,795000.0,7742.0,870000.0,2098.0,1.0,single_family,1970.0,9840.0

In [8]:
s = setup(data=df, target='sold_price',
            ignore_features = ['year_built', 'list_price'],
            normalize=True, normalize_method='minmax')

In [9]:
best = compare_models()

In [10]:
print(best)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=3212, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [11]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

In [13]:
predict_model(best)

,baths,baths_3qtr,baths_full,baths_half,beds,garage,sqft,stories,total_sqft,city_Anaheim,...,city_San Jose,type_condo,type_condos,type_duplex_triplex,type_mobile,type_multi_family,type_single_family,type_townhomes,sold_price,Label
0,0.057143,0.0,0.055556,0.5,0.129032,0.000000,0.097414,0.095238,3.295064e-06,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1625000.0,1.211763e+06
1,0.000000,0.0,0.027778,0.0,0.032258,0.000000,0.042540,0.000000,1.434346e-05,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,337748.0,8.165199e+05
2,0.028571,0.0,0.055556,0.0,0.064516,0.000000,0.055960,0.000000,6.317957e-05,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1301500.0,1.356661e+06
3,0.085714,0.0,0.083333,0.5,0.129032,0.000000,0.106704,0.095238,1.630606e-04,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1120000.0,1.559519e+06
4,0.057143,0.0,0.055556,0.5,0.064516,0.285714,0.078887,0.142857,1.926303e-06,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,609000.0,4.847096e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,0.028571,0.0,0.027778,0.5,0.096774,0.142857,0.061067,0.047619,3.721986e-06,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,600000.0,8.803940e+05
567,0.028571,0.0,0.055556,0.0,0.129032,0.000000,0.075465,0.047619,9.549017e-07,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,690000.0,8.294743e+05
568,0.000000,0.0,0.027778,0.0,0.064516,0.000000,0.045800,0.095238,9.095284e-07,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,65000.0,1.214309e+05
569,0.028571,0.0,0.055556,0.0,0.096774,0.142857,0.051722,0.047619,8.440808e-06,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,260000.0,3.815343e+05
570,0.057143,0.0,0.083333,0.0,0.129032,0.000000,0.085624,0.047619,4.410835e-06,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1190000.0,9.804019e+05