In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('C:/Users/alanp/Documents//DataScienceV1/projects/RealEstate/RealEstate/Cleaning/RealEstateDataClean.csv')
columns = df.columns
df.drop(columns[0], inplace=True, axis = 1)
df

,baths,baths_3qtr,baths_full,baths_half,beds,city,garage,list_price,lot_sqft,sold_date,sold_price,sqft,stories,type,year_built
0,1.0,0.0,1.0,0.0,3.0,Los Angeles,2.0,745000.0,7018.0,2021-09-01,760000.0,1031.0,1.0,single_family,1949.0
1,2.0,0.0,2.0,0.0,2.0,Los Angeles,0.0,699000.0,12776.0,2021-09-01,695000.0,1396.0,4.0,condos,1982.0
2,3.0,2.0,1.0,0.0,3.0,Los Angeles,0.0,1200000.0,6351.0,2021-09-01,1385000.0,1881.0,1.0,single_family,1953.0
3,2.0,0.0,2.0,0.0,3.0,Los Angeles,0.0,675000.0,2153275.0,2021-09-01,675000.0,1688.0,1.0,mobile,2015.0
4,3.0,0.0,3.0,0.0,5.0,Los Angeles,2.0,795000.0,7742.0,2021-09-01,870000.0,2098.0,1.0,single_family,1970.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1898,3.0,0.0,2.0,1.0,3.0,Anaheim,2.0,645000.0,0.0,2021-08-10,645000.0,1250.0,2.0,condos,1999.0
1899,3.0,0.0,2.0,1.0,5.0,Anaheim,2.0,1000000.0,7200.0,2021-08-10,1200000.0,2771.0,2.0,single_family,1975.0
1900,4.0,0.0,4.0,0.0,3.0,Anaheim,2.0,849999.0,5244.0,2021-08-09,835000.0,2139.0,2.0,single_family,1977.0
1901,3.0,0.0,2.0,1.0,3.0,Anaheim,2.0,590000.0,0.0,2021-08-09,660000.0,1555.0,2.0,townhomes,1996.0
1902,2.0,0.0,2.0,0.0,2.0,Anaheim,2.0,535000.0,0.0,2021-08-09,565000.0,980.0,1.0,condos,1981.0

In [3]:
#Creating a new column called total_sqft
df['total_sqft'] = df['lot_sqft'] + df['sqft']
df

,baths,baths_3qtr,baths_full,baths_half,beds,city,garage,list_price,lot_sqft,sold_date,sold_price,sqft,stories,type,year_built,total_sqft
0,1.0,0.0,1.0,0.0,3.0,Los Angeles,2.0,745000.0,7018.0,2021-09-01,760000.0,1031.0,1.0,single_family,1949.0,8049.0
1,2.0,0.0,2.0,0.0,2.0,Los Angeles,0.0,699000.0,12776.0,2021-09-01,695000.0,1396.0,4.0,condos,1982.0,14172.0
2,3.0,2.0,1.0,0.0,3.0,Los Angeles,0.0,1200000.0,6351.0,2021-09-01,1385000.0,1881.0,1.0,single_family,1953.0,8232.0
3,2.0,0.0,2.0,0.0,3.0,Los Angeles,0.0,675000.0,2153275.0,2021-09-01,675000.0,1688.0,1.0,mobile,2015.0,2154963.0
4,3.0,0.0,3.0,0.0,5.0,Los Angeles,2.0,795000.0,7742.0,2021-09-01,870000.0,2098.0,1.0,single_family,1970.0,9840.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1898,3.0,0.0,2.0,1.0,3.0,Anaheim,2.0,645000.0,0.0,2021-08-10,645000.0,1250.0,2.0,condos,1999.0,1250.0
1899,3.0,0.0,2.0,1.0,5.0,Anaheim,2.0,1000000.0,7200.0,2021-08-10,1200000.0,2771.0,2.0,single_family,1975.0,9971.0
1900,4.0,0.0,4.0,0.0,3.0,Anaheim,2.0,849999.0,5244.0,2021-08-09,835000.0,2139.0,2.0,single_family,1977.0,7383.0
1901,3.0,0.0,2.0,1.0,3.0,Anaheim,2.0,590000.0,0.0,2021-08-09,660000.0,1555.0,2.0,townhomes,1996.0,1555.0
1902,2.0,0.0,2.0,0.0,2.0,Anaheim,2.0,535000.0,0.0,2021-08-09,565000.0,980.0,1.0,condos,1981.0,980.0

In [4]:
df.drop(columns=['sold_date'], inplace=True)

In [5]:
df['log_sold'] = np.log(df['sold_price'])

In [6]:
from pycaret.regression import *

In [7]:
#Check version
from pycaret.utils import version
version()

'2.3.6'

In [8]:
df.head()

,baths,baths_3qtr,baths_full,baths_half,beds,city,garage,list_price,lot_sqft,sold_price,sqft,stories,type,year_built,total_sqft,log_sold
0,1.0,0.0,1.0,0.0,3.0,Los Angeles,2.0,745000.0,7018.0,760000.0,1031.0,1.0,single_family,1949.0,8049.0,13.541074
1,2.0,0.0,2.0,0.0,2.0,Los Angeles,0.0,699000.0,12776.0,695000.0,1396.0,4.0,condos,1982.0,14172.0,13.451667
2,3.0,2.0,1.0,0.0,3.0,Los Angeles,0.0,1200000.0,6351.0,1385000.0,1881.0,1.0,single_family,1953.0,8232.0,14.141211
3,2.0,0.0,2.0,0.0,3.0,Los Angeles,0.0,675000.0,2153275.0,675000.0,1688.0,1.0,mobile,2015.0,2154963.0,13.422468
4,3.0,0.0,3.0,0.0,5.0,Los Angeles,2.0,795000.0,7742.0,870000.0,2098.0,1.0,single_family,1970.0,9840.0,13.676248

In [9]:
s_log = setup(data=df, target='log_sold',
            ignore_features = ['year_built', 'list_price', 'sold_price'],
            normalize=True, normalize_method='minmax', 
            remove_multicollinearity = True, feature_selection = True)

In [10]:
best_log = compare_models()

In [11]:
print(best_log)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=5694, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [12]:
evaluate_model(best_log)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

In [13]:
predict_model(best_log)

,sqft,city_Anaheim,city_Sacremento,city_Bakersfield,type_multi_family,type_condos,type_townhomes,garage,stories,type_single_family,...,city_San Diego,beds,city_San Jose,type_mobile,type_condo,lot_sqft,baths_3qtr,baths,log_sold,Label
0,0.107954,0.0,1.0,0.0,0.0,0.0,0.0,0.083333,0.068966,1.0,...,0.0,0.129032,0.0,0.0,0.0,0.000005,0.00,0.057143,13.112313,13.312541
1,0.045203,0.0,0.0,0.0,0.0,1.0,0.0,0.041667,0.034483,0.0,...,0.0,0.064516,0.0,0.0,0.0,0.000101,0.00,0.000000,12.779873,13.092946
2,0.106976,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,1.0,...,0.0,0.129032,0.0,0.0,0.0,0.000002,0.00,0.057143,14.220976,14.336577
3,0.086005,0.0,0.0,0.0,0.0,0.0,0.0,0.083333,0.034483,1.0,...,0.0,0.129032,1.0,0.0,0.0,0.000005,0.00,0.028571,14.887094,14.042731
4,0.091927,0.0,0.0,0.0,0.0,0.0,0.0,0.083333,0.034483,1.0,...,0.0,0.129032,0.0,0.0,0.0,0.000004,0.00,0.028571,13.660026,13.775839
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,0.094915,0.0,1.0,0.0,0.0,0.0,0.0,0.083333,0.034483,1.0,...,0.0,0.096774,0.0,0.0,0.0,0.000009,0.00,0.028571,13.541074,13.277522
567,0.108171,0.0,0.0,1.0,0.0,0.0,0.0,0.000000,0.034483,1.0,...,0.0,0.096774,0.0,0.0,0.0,0.000004,0.25,0.028571,12.449018,12.690436
568,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,0.125000,0.034483,1.0,...,0.0,0.129032,0.0,0.0,0.0,0.000008,0.00,0.085714,13.389333,13.328240
569,0.096490,1.0,0.0,0.0,0.0,1.0,0.0,0.083333,0.034483,0.0,...,0.0,0.096774,0.0,0.0,0.0,0.044921,0.00,0.028571,13.402266,13.526470
570,0.078779,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,1.0,...,0.0,0.096774,0.0,0.0,0.0,0.000002,0.00,0.028571,14.220976,14.348402